{% extends 'base.html' %}
{% load i18n static bootstrap3 %}
{% load str_handle url %}

{% block css %}
    <link href="{% static 'css/plugins/nprogress/nprogress.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dropzone/dropzone.min.css' %}" rel="stylesheet">

{% endblock css %}

{% block main %}

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            {% include '_x_title.html' %}

            <div class="x_content">
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab_roster_list" id="roster-list-tab" role="tab" data-toggle="tab"
                               aria-expanded="true">
                                Roster List
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_roster_upload" id="roster-upload-tab" role="tab" data-toggle="tab"
                               aria-expanded="true">
                                Roster Upload
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_install_minion" id="install-minion-tab" role="tab" data-toggle="tab"
                               aria-expanded="true">
                                Install Minion
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_execution" id="execution-tab" role="tab" data-toggle="tab"
                               aria-expanded="true">
                                Server List </a>
                        </li>
                    </ul>

                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_roster_list"
                             aria-labelledby="roster-list-tab">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>{% trans 'File' %}</th>
                                    <th>{% trans 'Create Time' %}</th>
                                    <th>{% trans 'Status' %}</th>
                                    <th>{% trans 'Action' %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for roster in rosters %}
                                    <tr>
                                        <td>
                                            <a id="roster-{{ roster.id }}" class="btn" data-toggle="modal"
                                               data-target="#modal-detail"
                                               onclick='checkDetail(this, "{% url 'api-deploy:roster' roster.id %}")'>
                                                {% retrieve_roster_name roster.file.name %}
                                            </a>
                                        </td>
                                        <td>{{ roster.create_time }}</td>
                                        <td>
                                            {% if roster.status == 1 %}
                                                Normal
                                            {% elif roster.status == 2 %}
                                                Deleted
                                            {% endif %}
                                        </td>
                                        <td>
                                            <button class="btn btn-danger btn-sm" id="del-{{ roster.id }}"
                                                    data-toggle="modal" data-target="#modal-del"
                                                    onclick='delRoster(this, "{% url 'api-deploy:roster' roster.id %}","{% retrieve_roster_name roster.file.name %}")'>
                                                <i class="fa fa-trash"></i>
                                                {% trans 'Delete' %}
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="tab_roster_upload"
                             aria-labelledby="roster-upload-tab">
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    {% for field, error in form.errors.items %}
                                        {{ field }}: {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <form action="{% url 'deploy:ssh' %}" class="dropzone" id="filedropzone" method="post"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                            </form>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="tab_install_minion"
                             aria-labelledby="install-minion-tab">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td class="col-md-3">{% trans 'Roster' %}</td>
                                    <td class="col-md-9">
                                        <select class="form-control" id="roster-install-list">
                                            {% for roster in rosters %}
                                                {% if roster.status == 1 %}
                                                    <option value="{{ roster.id }}">{% retrieve_roster_name roster.file.name %}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>

                                    </td>
                                </tr>
                                <tr>
                                    <td>{% trans 'Action' %}</td>
                                    <td>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-info" id="minion-install"
                                                    data-loading-text="<i class='fa fa-spinner fa-spin'></i> Installing"
                                                    onclick='installMinion(this, "install")'>
                                                <i class="fa fa-play"></i> Install
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{% trans 'Feedback' %}</td>
                                    <td id="install-feedback">

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="tab_execution"
                             aria-labelledby="execution-tab">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td class="col-md-3">{% trans 'Roster' %}</td>
                                    <td class="col-md-9">
                                        <select class="form-control" id="roster-exec-list">
                                            {% for roster in rosters %}
                                                {% if roster.status == 1 %}
                                                    <option value="{{ roster.id }}">{% retrieve_roster_name roster.file.name %}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{% trans 'Command' %}</td>
                                    <td id="roster-cmd" data-count="1">
                                        <input type="text" class="form-group form-control" id="roster-cmd-1">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {% trans 'Arguments (If no args, let it empty)' %}
                                        {% trans '**Please take care the order' %}
                                    </td>
                                    <td id="roster-arg">
                                        <input type="text" class="form-group form-control" id="roster-arg-1">
                                    </td>
                                </tr>
                                <tr>
                                    <td>{% trans 'Action' %}</td>
                                    <td>
                                        <div class="form-group">
                                            <button type="reset" class="btn btn-info">
                                                <i class="ion ion-ios-loop-strong"></i> Reset
                                            </button>
                                            <button type="button" class="btn btn-danger" id="roster-execute"
                                                    onclick="rosterExec(this)">
                                                <i class="fa fa-play"></i> Execute
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{% trans 'Feedback' %}</td>
                                    <td id="roster-feedback">

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    {% include '_modal_detail.html' %}
    {% include '_modal_delete.html' %}
{% endblock main %}

{% block js %}
    <script src="{% static 'js/plugins/nprogress/nprogress.js' %}"></script>
    <script src="{% static 'js/plugins/dropzone/dropzone.min.js' %}"></script>
    <script src="{% static 'js/mo/ssh.js' %}"></script>
{% endblock js %}