{% extends 'base.html' %}
{% load i18n static %}

{% block main %}

    <div class="page-title">
        <div class="title_left">
            <h2>{{ path1 }} {{ path2 }}</h2>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-12 col-sm-12 col-xs-12 ">
        <div class="x_panel">
            <button id="btn-refresh-minions" class="btn btn-info"
                    data-loading-text="<i class='fa fa-spinner fa-spin'></i> Refreshing">{% trans 'Refresh Salt Minions' %}
            </button>
            <button id="btn-check-minions-health" class="btn btn-info"
                    data-loading-text="<i class='fa fa-spinner fa-spin'></i> Checking">{% trans 'Check Salt Minions Health' %}
            </button>
        </div>

    </div>


    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            {% include '_x_title.html' %}

            <div class="x_content">
                <table id="datatable-accepted" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>{% trans 'Hostname' %}</th>
                        <th>{% trans 'Is Alive' %}</th>
                        <th>{% trans 'Action' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for minion in minion_accept %}
                        <tr>
                            <input type="hidden" value="{% url 'api-deploy:minion' minion.id %}"/>
                            <td>
                                <a href="{% url 'asset:server:detail' minion.server_id %}">
                                    {{ minion.hostname }}
                                </a>
                            </td>
                            <td>{{ minion.is_alive }}</td>
                            <td>
                                <a class="btn btn-danger btn-sm" id="a-delete-minion"
                                   data-loading-text="<i class='fa fa-spinner fa-spin'></i> Deleting"
                                   data-toggle="modal" data-target="#delete-danger">
                                    <i class="fa fa-trash"></i> {% trans 'Delete' %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Unaccepted Keys</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="datatable-accepted" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>{% trans 'Hostname' %}</th>
                        <th>{% trans 'Action' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for minion in minion_pre %}
                        <tr>
                            <input type="hidden" value="{% url 'api-deploy:minion' minion.id %}"/>
                            <td>{{ minion.hostname }}</td>
                            <td>
                                <button class="btn btn-danger btn-sm" id="btn-accept-minion"
                                        data-loading-text="<i class='fa fa-spinner fa-spin'></i> Accepting">
                                    <i class="fa fa-trash"></i> {% trans 'Accept' %}
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>

    {% include '_modal.html' %}


{% endblock main %}

{% block js %}
    <script src="{% static 'js/deploy.js' %}"></script>
    <script>
        $('#btn-refresh-minions').click({url: "{% url 'api-deploy:minion-refresh' %}"}, importMinions)
        $('#btn-check-minions-health').click({url: "{% url 'api-deploy:minion-check-alive' %}"}, refreshMinionsHealth)
        // ajax: delete minion
        $('#a-delete-minion').click(deleteMinion)
        $('#confirm-delete').click(confirmDelete)
        // ajax: accept minion key
        $('#btn-accept-minion').click(acceptMinion)
    </script>
{% endblock js %}