{% extends '_base.html' %}
{% load static bootstrap3 %}


{% block html_body %}
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">

                    <p class="text-danger"></p>

                    <form action="#">
                        <h1>MO Login Form</h1>

                        <div class="form-group has-feedback">
                            <input type="email" class="form-control" placeholder="Email" name="email" id="email">
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" class="form-control" placeholder="Password" name="password"
                                   id="password">
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <button type="button" class="btn btn-primary btn-block btn-flat" id="login">Log In
                                </button>
                            </div>
                            <a class="reset_pass" href="#">Lost your password?</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">New to site?
                                <a href="{% url 'user:register' %}" class="to_register"> Register Account </a>
                            </p>

                            <div class="clearfix"></div>
                            <br/>

                            <div>
                                <h1><i class="fa fa-paw"></i> MiracleOps </h1>
                                <p>MiracleOps - Auto Operation Web Platform</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>

    </div>

{% endblock html_body %}

{% block js %}
    <script>
        $('body').addClass('login');
    </script>
    <script src="{% static 'js/mo/auth/auth.js' %}"></script>
{% endblock js %}