{% load i18n bootstrap3 %}


<form class="form-horizontal" method="post" action="">
    {% csrf_token %}

    <hr>
    <h3>{% trans 'Basic Info' %}</h3>
    {% bootstrap_field form.sn layout="horizontal" %}
    {% bootstrap_field form.idc layout="horizontal" %}
    {% bootstrap_field form.cabinet layout="horizontal" %}
    {% bootstrap_field form.detail_address layout="horizontal" %}
    {% bootstrap_field form.interface1 layout="horizontal" %}
    {% bootstrap_field form.interface2 layout="horizontal" %}

    <hr>
    <h3>{% trans 'Owner' %}</h3>
    {% bootstrap_field form.env layout="horizontal" %}
    {% bootstrap_field form.status layout="horizontal" %}
    {% bootstrap_field form.owner layout="horizontal" %}

    <hr>
    <h3>{% trans 'OoB Management' %}</h3>
    {% bootstrap_field form.oob_ip layout="horizontal" %}
    {% bootstrap_field form.oob_port layout="horizontal" %}
    {% bootstrap_field form.oob_admin layout="horizontal" %}
    {% bootstrap_field form.oob_password layout="horizontal" %}

    <hr>
    <h3>{% trans 'Hardware Info' %}</h3>
    {% bootstrap_field form.cpu layout="horizontal" %}
    {% bootstrap_field form.memory layout="horizontal" %}
    {% bootstrap_field form.disk layout="horizontal" %}
    {% bootstrap_field form.hardware_version layout="horizontal" %}



    <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
            <button type="submit" class="btn btn-info">Commit</button>
            <a href="{% url 'asset:entity:list' %}" class="btn btn-default">Cancel</a>
        </div>
    </div>
    <!-- /.box-footer -->
</form>

