{% load i18n bootstrap3 %}

<form class="form-horizontal form-label-left" novalidate action="" method="post">

    {% csrf_token %}
    <span class="section">{% trans 'Basic Info' %}</span>
    {% bootstrap_field form.host layout="horizontal" %}
    {% bootstrap_field form.public_ip layout="horizontal" %}
    {% bootstrap_field form.private_ip1 layout="horizontal" %}
    {% bootstrap_field form.private_ip2 layout="horizontal" %}
    {% bootstrap_field form.private_ip3 layout="horizontal" %}
    {% bootstrap_field form.net_interface1 layout="horizontal" %}
    {% bootstrap_field form.net_interface2 layout="horizontal" %}
    {% bootstrap_field form.net_interface3 layout="horizontal" %}

    <span class="section">{% trans 'Hardware Info' %}</span>
    {% bootstrap_field form.cpu layout="horizontal" %}
    {% bootstrap_field form.memory layout="horizontal" %}
    {% bootstrap_field form.disk layout="horizontal" %}

    <span class="section">{% trans 'State' %}</span>
    {% bootstrap_field form.env layout="horizontal" %}
    {% bootstrap_field form.status layout="horizontal" %}
    {% bootstrap_field form.type layout="horizontal" %}
    {% bootstrap_field form.owner layout="horizontal" %}

    <span class="section">{% trans 'Other' %}</span>
    {% bootstrap_field form.comment layout="horizontal" %}

    <hr>
    <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
            <button type="submit" class="btn btn-info">Submit</button>
            <a href="{% url 'asset:server:list' %}" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>


