{% load i18n bootstrap3 %}

<form class="form-horizontal form-label-left" novalidate action="" method="post">

    {% csrf_token %}
    <span class="section">{% trans 'Basic Info' %}</span>
    {% bootstrap_field form.sn layout="horizontal" %}
    {% bootstrap_field form.idc layout="horizontal" %}
    {% bootstrap_field form.cabinet layout="horizontal" %}
    {% bootstrap_field form.cab_u layout="horizontal" %}
    {% bootstrap_field form.interface1 layout="horizontal" %}
    {% bootstrap_field form.interface2 layout="horizontal" %}

    <span class="section">{% trans 'Owner' %}</span>
    {% bootstrap_field form.env layout="horizontal" %}
    {% bootstrap_field form.status layout="horizontal" %}
    {% bootstrap_field form.type layout="horizontal" %}
    {% bootstrap_field form.owner layout="horizontal" %}

    <span class="section">{% trans 'OoB Management' %}</span>
    {% bootstrap_field form.oob_ip layout="horizontal" %}
    {% bootstrap_field form.oob_port layout="horizontal" %}
    {% bootstrap_field form.oob_admin layout="horizontal" %}
    {% bootstrap_field form.oob_password layout="horizontal" %}

    <span class="section">{% trans 'Hardware Info' %}</span>
    {% bootstrap_field form.public_ip layout="horizontal" %}
    {% bootstrap_field form.hostname layout="horizontal" %}
    {% bootstrap_field form.private_ip1 layout="horizontal" %}
    {% bootstrap_field form.private_ip2 layout="horizontal" %}
    {% bootstrap_field form.cpu layout="horizontal" %}
    {% bootstrap_field form.memory layout="horizontal" %}
    {% bootstrap_field form.disk layout="horizontal" %}
    {% bootstrap_field form.hardware_version layout="horizontal" %}

    <span class="section">{% trans 'Others' %}</span>
    {% bootstrap_field form.remark layout="horizontal" %}


    <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
            <button type="submit" class="btn btn-info">Commit</button>
            <a href="{% url 'asset:server:list' %}" class="btn btn-default">Cancel</a>
        </div>
    </div>
    <!-- /.box-footer -->
</form>

