{% extends 'base.html' %}
{% load i18n %}

{% block main %}

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Entity Overview</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <a href="{% url 'asset:entity:create' %}" class="btn btn-primary margin-bottom">Create</a>

                        <table id="table-entity-list" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>{% trans 'SN' %}</th>
                                <th>{% trans 'Environment' %}</th>
                                <th>{% trans 'IDC' %}</th>
                                <th>{% trans 'Owner' %}</th>
                                <th>{% trans 'Group' %}</th>
                                <th>{% trans 'Status' %}</th>
                                <th>{% trans 'Action' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in entity_list %}
                                <tr>
                                    <td>
                                        <a href="{% url 'asset:entity:detail' entity.id %}">{{ entity.sn }}</a>
                                    </td>
                                    <td>{{ entity.env }}</td>
                                    <td>{{ entity.idc.name }}</td>
                                    <td>{{ entity.owner.username }}</td>
                                    <td>{{ entity.owner.group.name }}</td>
                                    <td>
                                        {% if entity.status == 1 %}
                                            NORMAL
                                        {% elif entity.status == 2 %}
                                            DELETED
                                        {% elif entity.status == 3 %}
                                            Out of Service
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'asset:entity:update' pk=entity.id %}" class="btn btn-info btn-sm">
                                            <i class="fa fa-edit"></i> {% trans 'Edit' %}
                                        </a>
                                        <a class="btn btn-danger btn-sm">
                                            <i class="fa fa-trash"></i> {% trans 'Delete' %}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{% trans 'SN' %}</th>
                                <th>{% trans 'Environment' %}</th>
                                <th>{% trans 'IDC' %}</th>
                                <th>{% trans 'Owner' %}</th>
                                <th>{% trans 'Group' %}</th>
                                <th>{% trans 'Status' %}</th>
                                <th>{% trans 'Action' %}</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>


{% endblock main %}

{% block js %}
    <script>
        $('#table-entity-list').DataTable();
    </script>

{% endblock js %}