{% extends 'base.html' %}
{% load i18n static %}

{% block main %}


    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            {% include '_x_title.html' %}
            <div class="x_content">
                <a href="{% url 'asset:idc:create' %}" class="btn btn-primary margin-bottom">Create</a>

                <table id="datatable" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>{% trans 'IDC Name' %}</th>
                        <th>{% trans 'IDC Address' %}</th>
                        <th>{% trans 'IDC Charge User' %}</th>
                        <th>{% trans 'IDC Charge User Phone' %}</th>
                        <th>{% trans 'Department Charge User' %}</th>
                        <th>{% trans 'Status' %}</th>
                        <th>{% trans 'Action' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for idc in idc_list %}
                        <tr>
                            <input type="hidden" value="{% url 'api-asset:idc-detail' idc.id %}"/>
                            <td>
                                <a href="{% url 'asset:idc:detail' idc.id %}">{{ idc.name }}</a>
                            </td>
                            <td>{{ idc.address }}</td>
                            <td>{{ idc.idc_user }}</td>
                            <td>{{ idc.idc_user_tel }}</td>
                            <td>{{ idc.user.username }}</td>
                            <td>
                                {% if idc.status == 1 %}
                                    NORMAL
                                {% elif idc.status == 2 %}
                                    DELETED
                                {% elif idc.status == 3 %}
                                    Out of Service
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'asset:idc:update' pk=idc.id %}"
                                   class="btn btn-info btn-sm">
                                    <i class="fa fa-edit"></i> {% trans 'Edit' %}
                                </a>
                                <a class="btn btn-danger btn-sm" data-toggle="modal"
                                   data-target="#delete-danger" onclick="setValue(this);">
                                    <i class="fa fa-trash"></i> {% trans 'Delete' %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>{% trans 'IDC Name' %}</th>
                        <th>{% trans 'IDC Address' %}</th>
                        <th>{% trans 'IDC Charge User' %}</th>
                        <th>{% trans 'IDC Charge User Phone' %}</th>
                        <th>{% trans 'Department Charge User' %}</th>
                        <th>{% trans 'Status' %}</th>
                        <th>{% trans 'Action' %}</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    {% include '_modal.html' %}

{% endblock main %}

{% block js %}
    <script src="{% static 'js/asset.js' %}"></script>
{% endblock js %}