{% extends 'base.html' %}
{% load i18n static %}

{% block main %}

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">IDC Overview</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <a href="{% url 'asset:idc:create' %}" class="btn btn-primary margin-bottom">Create</a>

                        <table id="table-idc-list" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>{% trans 'IDC Name' %}</th>
                                <th>{% trans 'IDC Address' %}</th>
                                <th>{% trans 'IDC Charge User' %}</th>
                                <th>{% trans 'IDC Charge User Phone' %}</th>
                                <th>{% trans 'Department Charge User' %}</th>
                                <th>{% trans 'Status' %}</th>
                                <th>{% trans 'Action' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for idc in idc_list %}
                                <tr>
                                    <input type="hidden" value="{% url 'api-asset:idc-detail' idc.id %}"/>
                                    <td>
                                        <a href="{% url 'asset:idc:detail' idc.id %}">{{ idc.name }}</a>
                                    </td>
                                    <td>{{ idc.address }}</td>
                                    <td>{{ idc.idc_user }}</td>
                                    <td>{{ idc.idc_user_tel }}</td>
                                    <td>{{ idc.user.username }}</td>
                                    <td>
                                        {% if idc.status == 1 %}
                                            NORMAL
                                        {% elif idc.status == 2 %}
                                            DELETED
                                        {% elif idc.status == 3 %}
                                            Out of Service
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'asset:idc:update' pk=idc.id %}"
                                           class="btn btn-info btn-sm">
                                            <i class="fa fa-edit"></i> {% trans 'Edit' %}
                                        </a>
                                        <a class="btn btn-danger btn-sm" data-toggle="modal"
                                           data-target="#delete-danger" onclick="setValue(this);">
                                            <i class="fa fa-trash"></i> {% trans 'Delete' %}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{% trans 'IDC Name' %}</th>
                                <th>{% trans 'IDC Address' %}</th>
                                <th>{% trans 'IDC Charge User' %}</th>
                                <th>{% trans 'IDC Charge User Phone' %}</th>
                                <th>{% trans 'Department Charge User' %}</th>
                                <th>{% trans 'Status' %}</th>
                                <th>{% trans 'Action' %}</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

    <div class="modal modal-danger fade" id="delete-danger">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Danger Action Alert!</h4>
                </div>
                <div class="modal-body">
                    <p>Please Confirm Your Action: </p>
                    <p>Delete IDC as below:</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline" data-idc-list="{% url 'asset:idc:list' %}"
                            id="confirm-delete">Confirm
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock main %}

{% block js %}
    <script src="{% static 'js/asset.js' %}"></script>
{% endblock js %}