{% extends 'base.html' %}
{% load i18n bootstrap3 static %}

{% block main %}

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">IDC Update</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {% for field, error in form.errors.item %}
                                    {{ field }}: {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <!-- form start -->
                        <form class="form-horizontal" method="post" action="">
                            {% csrf_token %}
                            {% include 'asset/_idc_form.html' %}

                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-4">
                                    <button type="submit" class="btn btn-info">Update</button>
                                    <button type="reset" class="btn btn-default">Cancel</button>
                                </div>
                            </div>
                            <!-- /.box-footer -->
                        </form>

                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>


{% endblock main %}
