{% extends 'base.html' %}
{% load i18n static %}

{% block main %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>server List</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <a href="{% url 'asset:server:create' %}" class="btn btn-primary margin-bottom">Create</a>
                <table id="datatable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>{% trans 'Hostname' %}</th>
                        <th>{% trans 'Environment' %}</th>
                        <th>{% trans 'Type' %}</th>
                        <th>{% trans 'IDC' %}</th>
                        <th>{% trans 'Owner' %}</th>
                        <th>{% trans 'Group' %}</th>
                        <th>{% trans 'Status' %}</th>
                        <th>{% trans 'Action' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for server in server_list %}
                        <tr>
                            <input type="hidden" value="{% url 'api-asset:server-detail' server.id %}"/>
                            <td>
                                <a href="{% url 'asset:server:detail' server.id %}">{{ server.hostname }}</a>
                            </td>
                            <td>
                                {% if server.env == 1 %}
                                    Production
                                {% elif server.env == 2 %}
                                    Gray Level
                                {% elif server.env == 3 %}
                                    Stage
                                {% elif server.env == 4 %}
                                    Development
                                {% elif server.env == 5 %}
                                    Test
                                {% endif %}
                            </td>
                            <td>
                                {% if server.type == 1 %}
                                    Web Service
                                {% elif server.type == 2 %}
                                    Database
                                {% elif server.type == 3 %}
                                    Big Data
                                {% elif server.type == 4 %}
                                    Middleware
                                {% elif server.type == 5 %}
                                    Development
                                {% elif server.type == 99 %}
                                    Other
                                {% endif %}
                            </td>
                            <td>{{ server.idc.name }}</td>
                            <td>{{ server.owner.username }}</td>
                            <td>{{ server.owner.group.name }}</td>
                            <td>
                                {% if server.status == 1 %}
                                    NORMAL
                                {% elif server.status == 2 %}
                                    DELETED
                                {% elif server.status == 3 %}
                                    Out of Service
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'asset:server:update' pk=server.id %}"
                                   class="btn btn-info btn-sm">
                                    <i class="fa fa-edit"></i> {% trans 'Edit' %}
                                </a>

                                <a class="btn btn-danger btn-sm" data-toggle="modal"
                                   data-target="#delete-danger" onclick="setValue(this);">
                                    <i class="fa fa-trash"></i> {% trans 'Delete' %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>{% trans 'Hostname' %}</th>
                        <th>{% trans 'Environment' %}</th>
                        <th>{% trans 'Type' %}</th>
                        <th>{% trans 'IDC' %}</th>
                        <th>{% trans 'Owner' %}</th>
                        <th>{% trans 'Group' %}</th>
                        <th>{% trans 'Status' %}</th>
                        <th>{% trans 'Action' %}</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    {% include '_modal.html' %}

{% endblock main %}

{% block js %}
    <script src="{% static 'js/asset.js' %}"></script>
{% endblock js %}