{% extends 'base.html' %}
{% load i18n bootstrap3 static %}

{% block main %}

    <div class="">
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Server Create</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {% for field, error in form.errors.items %}
                                    {{ field }}: {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <!-- form start -->
                        {% include 'asset/_server_form.html' %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}
