{% extends '_account_login_register.html' %}

{% block form %}
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>MiracleOps</b> Login</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your ops</p>

            {% if message %}
                <p class="text-danger">{{ message }}</p>
            {% endif %}

            {% if form.errors %}
                {% for field, error in form.errors.items %}
                    <p class="text-danger">{{ field }} : {{ error.0 }}</p>
                {% endfor %}
            {% endif %}

            <form action="{% url 'user:login' %}" method="post">
                {% csrf_token %}
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Email" name="email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password" name="password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">


                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    <div class="col-xs-4 col-xs-offset-4">
                        <a href="{% url 'user:register' %}"
                           class="btn btn-danger btn-block btn-flat">Register</a>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <a href="#">I forgot my password</a><br>

        </div>
        <!-- /.login-box-body -->

        {% if error_message %}
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-warning"></i> Warning!</h4>
                {{ error_message }}
            </div>
        {% endif %}
    </div>
    <!-- /.login-box -->
{% endblock form %}