{% extends '_account_login_register.html' %}
{% load bootstrap3 %}

{% block form %}
    <div class="register-box">
        <div class="register-logo">
            <a href="#"><b>MiracleOps</b> Register</a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">Register a new membership</p>

            {% if form.errors %}
                {% for field, error in form.errors.items %}
                    <p class="text-danger">{{ field }} : {{ error.0 }}</p>
                {% endfor %}
            {% endif %}

            <form action="{% url 'user:register' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Username" name="{{ form.username.html_name }}">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Email" name="{{ form.email.html_name }}">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="WeChat" name="{{ form.wechat.html_name }}">
                    <span class="fa fa-wechat form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    {% bootstrap_field form.job_title show_label=False %}

                </div>
                <div class="form-group has-feedback">
                    <input type="file" class="form-control" placeholder="Avatar" name="{{ form.avatar.html_name }}">
                    <span class="fa fa-upload form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password" name="{{ form.password.html_name }}">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
{#                <div class="form-group has-feedback">#}
{#                    <input type="password" class="form-control" placeholder="Retype password" name="{{ form.username.html_name }}">#}
{#                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>#}
{#                </div>#}

                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-danger btn-block btn-flat">Register</button>
                    </div>

                    <div class="col-xs-4 col-xs-offset-4">
                        <a href="{% url 'user:login' %}" class="btn btn-primary btn-block btn-flat">Sign In</a>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

        </div>
        <!-- /.form-box -->

        {% if error_message %}
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-warning"></i> Warning!</h4>
            {{ error_message }}
        </div>
        {% endif %}

    </div>
    <!-- /.register-box -->
{% endblock form %}

