<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type=image/x-icon>
    <title>MiracleOps</title>

    {% include "_head_css_js.html" %}
    {% block css %}{% endblock css %}
    <!-- Custom Theme Style -->
    <link href="{% static 'css/custom.min.css' %}" rel="stylesheet">
</head>
<body>
{% block html_body %}{% endblock html_body %}

{% include '_footer_js.html' %}

{% block js %}{% endblock js %}

<script src="{% static 'js/custom.min.js' %}"></script>
</body>
</html>