{% load static %}
<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/js.cookie.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- FastClick -->
{#<script src="{% static 'js/plugins/fastclick/fastclick.js' %}"></script>#}
<!-- NProgress -->
{#<script src="{% static 'js/plugins/nprogress/nprogress.js' %}"></script>#}
<!-- Chart.js -->
{#<script src="{% static 'js/plugins/Chart/Chart.min.js' %}"></script>#}
<!-- gauge.js -->
{#<script src="{% static 'js/plugins/gauge/gauge.min.js' %}"></script>#}
<!-- bootstrap-progressbar -->
{#<script src="{% static 'js/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>#}
<!-- iCheck -->
{#<script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>#}
<!-- Skycons -->
{#    <script src="{% static 'js/plugins/skycons/skycons.js' %}"></script>#}
<!-- Flot -->
{#<script src="{% static 'js/plugins/Flot/jquery.flot.js' %}"></script>#}
{#<script src="{% static 'js/plugins/Flot/jquery.flot.pie.js' %}"></script>#}
{#<script src="{% static 'js/plugins/Flot/jquery.flot.time.js' %}"></script>#}
{#<script src="{% static 'js/plugins/Flot/jquery.flot.stack.js' %}"></script>#}
{#<script src="{% static 'js/plugins/Flot/jquery.flot.resize.js' %}"></script>#}
<!-- Flot plugins -->
{#<script src="{% static 'js/plugins/flot.orderbars/jquery.flot.orderBars.js' %}"></script>#}
{#<script src="{% static 'js/plugins/flot-spline/jquery.flot.spline.min.js' %}"></script>#}
{#<script src="{% static 'js/plugins/flot.curvedlines/curvedLines.js' %}"></script>#}
<!-- DateJS -->
{#<script src="{% static 'js/plugins/DateJS/date.js' %}"></script>#}
<!-- JQVMap -->
{#<script src="{% static 'js/plugins/jqvmap/jquery.vmap.min.js' %}"></script>#}
{#<script src="{% static 'js/plugins/jqvmap/jquery.vmap.world.js' %}"></script>#}
{#<script src="{% static 'js/plugins/jqvmap/jquery.vmap.sampledata.js' %}"></script>#}
<!-- bootstrap-daterangepicker -->
{#<script src="{% static 'js/plugins/moment/moment.min.js' %}"></script>#}
{#<script src="{% static 'js/plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>#}

<!-- Custom Theme Scripts -->
<script src="{%static 'js/custom.min.js' %}"></script>
<script>
{#    $.widget.bridge('uibutton', $.ui.button);#}

    var csrftoken = Cookies.get('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

</script>
