{% extends '_base.html' %}
{% load static %}

{% block html_body %}
    <body>
    <div class="container body">
        <div class="main_container">

            {% include '_left_sidebar.html' %}

            {% include '_header.html' %}

            <div class="right_col" role="main">
                {% include '_nav.html' %}
                {% block main %}{% endblock main %}
            </div>

            {% include '_footer.html' %}

        </div>
    </div>
    </body>

    {% include '_footer_js.html' %}

    {% block js %}{% endblock js %}

    <script src="{% static 'js/custom.min.js' %}"></script>
{% endblock html_body %}

