<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Miracle CMDB</title>

    {% include "_head_css_js.html" %}

    {% block css %}{% endblock css %}
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    {% include '_header.html' %}
    <!-- Left side column. contains the logo and sidebar -->
    {% include '_left_sidebar.html' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        {% include '_nav.html' %}

        <!-- ENDCHG BY MIRACLE -->
        <section class="content">
            {% block main %}{% endblock main %}
        </section>

    </div>
    <!-- /.content-wrapper -->

    {% include '_footer.html' %}

    <!-- Control Sidebar -->
    {#    Temporary hidden control sidebar#}
    {#    {% include '_control_sidebar.html' %}#}
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>

</div>
<!-- ./wrapper -->

{% include '_footer_js.html' %}

{% block js %}{% endblock js %}
</body>

</html>