{% load i18n static %}

<div role="tabpanel" class="tab-pane fade" id="tab_glob" aria-labelledby="glob-tab">
    <table class="table">
        <tbody>
        <tr>
            <td class="col-md-3">
                {% trans 'Regular Expression' %}
                {% trans 'Example: "*"' %}
            </td>
            <td class="col-md-9">
                <input type="text" class="form-control" id="reg">
            </td>
        </tr>
        <tr>
            <td>
                {% trans 'Command' %}
                <button class="btn btn-success btn-sm" id="glob-add"
                        onclick='add(this, "glob")'>
                    <i class="fa fa-plus"></i>
                </button>
                <button class="btn btn-danger btn-sm" id="glob-minus"
                        onclick='minus(this, "glob")'>
                    <i class="fa fa-minus"></i>
                </button>
            </td>
            <td id="glob-cmd" data-count="1">
                <input type="text" class="form-group form-control" id="glob-cmd-1">
            </td>
        </tr>
        <tr>
            <td>
                {% trans 'Arguments (If no args, let it empty)' %}
                {% trans '**Please take care the order' %}
            </td>
            <td id="glob-arg">
                <input type="text" class="form-group form-control" id="glob-arg-1">
            </td>
        </tr>
        <tr>
            <td>{% trans 'Action' %}</td>
            <td>
                <div class="form-group">
                    <button type="reset" class="btn btn-info">
                        <i class="ion ion-ios-loop-strong"></i> Reset
                    </button>
                    <button type="button" class="btn btn-danger" id="glob-execute"
                            onclick='globExec(this, "{% url 'api-cm:minion-cmd' %}")'>
                        <i class="fa fa-play"></i> Execute
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>{% trans 'Feedback' %}</td>
            <td id="glob-feedback">

            </td>
        </tr>
        </tbody>
    </table>
</div>

